<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:reg="http://www.dangdang.com/schema/ddframe/reg"
  xmlns:job="http://www.dangdang.com/schema/ddframe/job"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.dangdang.com/schema/ddframe/reg
                        http://www.dangdang.com/schema/ddframe/reg/reg.xsd
                        http://www.dangdang.com/schema/ddframe/job
                        http://www.dangdang.com/schema/ddframe/job/job.xsd
                        ">
  <!--配置作业注册中心 -->
  <reg:zookeeper id="regCenter" server-lists="${dubbo.zookeeper.address}" namespace="task-center"
    base-sleep-time-milliseconds="1000" max-sleep-time-milliseconds="3000"
    session-timeout-milliseconds="${zookeeper.sessionTimeout:180000}" max-retries="3"/>

  <!--<bean id="jobOperateAPI" class="com.dangdang.ddframe.job.lite.lifecycle.internal.operate.JobOperateAPIImpl">-->
  <!--<constructor-arg ref="regCenter"/>-->
  <!--</bean>-->

  <job:simple id="taskAliveTimeCheckJob" job-ref="taskAliveTimeCheckSchedule" registry-center-ref="regCenter"
    cron="0 0/1 * * * ?" sharding-total-count="1" sharding-item-parameters="0=A"/>

  <job:simple id="taskTimeoutCheckJob" job-ref="taskTimeoutCheckSchedule" registry-center-ref="regCenter" cron="0 0/1 * * * ?"
    sharding-total-count="1" sharding-item-parameters="0=A"/>

</beans>