<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.treefinance.saas.grapserver.dao.mapper.TaskCallbackLogUpdateMapper">

    <insert id="insertOrUpdateSelective" parameterType="com.treefinance.saas.taskcenter.dao.entity.TaskCallbackLog">
        insert into task_callback_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="taskId != null">
                taskId,
            </if>
            <if test="configId != null">
                configId,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="requestParam != null">
                requestParam,
            </if>
            <if test="responseData != null">
                responseData,
            </if>
            <if test="consumeTime != null">
                consumeTime,
            </if>
            <if test="httpCode != null">
                httpCode,
            </if>
            <if test="callbackCode != null">
                callbackCode,
            </if>
            <if test="callbackMsg != null">
                callbackMsg,
            </if>
            <if test="failureReason != null">
                failureReason,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="lastUpdateTime != null">
                lastUpdateTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="taskId != null">
                #{taskId,jdbcType=BIGINT},
            </if>
            <if test="configId != null">
                #{configId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="requestParam != null">
                #{requestParam,jdbcType=VARCHAR},
            </if>
            <if test="responseData != null">
                #{responseData,jdbcType=VARCHAR},
            </if>
            <if test="consumeTime != null">
                #{consumeTime,jdbcType=INTEGER},
            </if>
            <if test="httpCode != null">
                #{httpCode,jdbcType=INTEGER},
            </if>
            <if test="callbackCode != null">
                #{callbackCode,jdbcType=VARCHAR},
            </if>
            <if test="callbackMsg != null">
                #{callbackMsg,jdbcType=VARCHAR},
            </if>
            <if test="failureReason != null">
                #{failureReason,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="taskId != null">
                taskId = #{taskId,jdbcType=BIGINT},
            </if>
            <if test="configId != null">
                configId = #{configId,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="requestParam != null">
                requestParam = #{requestParam,jdbcType=VARCHAR},
            </if>
            <if test="responseData != null">
                responseData = #{responseData,jdbcType=VARCHAR},
            </if>
            <if test="consumeTime != null">
                consumeTime = #{consumeTime,jdbcType=INTEGER},
            </if>
            <if test="httpCode != null">
                httpCode = #{httpCode,jdbcType=INTEGER},
            </if>
            <if test="callbackCode != null">
                callbackCode = #{callbackCode,jdbcType=VARCHAR},
            </if>
            <if test="callbackMsg != null">
                callbackMsg = #{callbackMsg,jdbcType=VARCHAR},
            </if>
            <if test="failureReason != null">
                failureReason = #{failureReason,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                lastUpdateTime = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

</mapper>